.container {
  border: 1px solid #ababab;
  background-color: #efefef;
  height: 66px;
}

.card {
  background-color: #efefef;
  padding: 0.5rem 0;
}

.card:hover {
  background-color: #ffffaa;
  cursor: pointer; 
}

.hidden {
  display: none;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  width: 75%;
}

.name {
  padding-left: 2rem;
  font-size: 1rem;
  color: black;
}

.anchor {
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}

.anchor:hover { color: red; }

.disabled {
  pointer-events: none;
  cursor: default;
}